<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>Google play reviews sentiment analysis</title>
<!--
Comila Template
http://www.templatemo.com/tm-490-comila
-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- stylesheets css -->
	<link rel="icon" href="{{ url_for('static',filename='images/google2.png') }}">
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/animate.min.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/et-line-font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">

  	<link rel="stylesheet" href="{{ url_for('static',filename='css/vegas.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	<link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
       <div class="sk-circle1 sk-child"></div>
       <div class="sk-circle2 sk-child"></div>
       <div class="sk-circle3 sk-child"></div>
       <div class="sk-circle4 sk-child"></div>
       <div class="sk-circle5 sk-child"></div>
       <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
       <div class="sk-circle8 sk-child"></div>
       <div class="sk-circle9 sk-child"></div>
       <div class="sk-circle10 sk-child"></div>
       <div class="sk-circle11 sk-child"></div>
       <div class="sk-circle12 sk-child"></div>
     </div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" data-wow-delay="0.4s">Hello, we are ITIan</h1>
          			<h3 class="wow fadeInUp" data-wow-delay="0.6s">We are almost <strong>ready to launch</strong> our <strong>new creative</strong> website!</h3>
          			<a href="https://google-play-reviews-sentiment-analysis.azurewebsites.net/predict" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="0.8s">Prediction</a>
        			<a href="https://public.tableau.com/app/profile/mohamed7684/viz/googleplayreviews/Dashboard1" class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="1.0s">Dashboard</a>
				</div>
			</div>

		</div>
	</div>		
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">

      <div class="col-md-6 col-sm-12">
    <img src="{{ url_for('static',filename='images/google2.png') }}" class="img-responsive wow fadeInUp" alt="About">
      </div>

			<div class="col-md-6 col-sm-12">
				<div class="about-thumb">
					<div class="section-title">
						<h1 style="color: #337ab7;" class="wow fadeIn" data-wow-delay="0.2s">Our Project</h1>
						<h3 style="color: black;" class="wow fadeInUp" data-wow-delay="0.4s">Google play reviews sentiment analysis
</h3>
					</div>
					<div class="wow fadeInUp" data-wow-delay="0.6s">
						<p>Proactive listening to customer feedback is important to improve the experience of mobile apps. Now a day, rely on apps review rating are not enough, comment from reviews are also important to understand what is going wrong on experience. Thanks to NLP (Natural Language Processing) technology is becoming more mature, we can easily understand customer feedback automatically and perform advanced analysis to continuously improve our mobile apps.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
    



<!-- feature section -->
<section id="feature">
  <div class="container">
      <div class="row">

          <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
              <path d="M0 0 L50 100 L100 0 Z"></path>
          </svg>
          <div class="row">
              <div class="col-md-offset-2 col-md-8 col-sm-12">
                  <center>
                      <div class="section-title">
                          <h1 class="wow fadeInUp" data-wow-delay="0.3s" style="color: #337ab7">Our Pipeline</h1>

                      </div>
                  </center>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 col-sm-12">

                  <img src="{{ url_for('static',filename='images/pipeline.png') }}" style="max-width: 100%; height: auto;">

              </div>
          </div>




          <div class="clearfix text-center col-md-12 col-sm-12">
              <a href="https://github.com/mohnabilfadl/Google_play_reviews_sentiment_analysis" class="btn btn-default smoothScroll">Project GitHub</a>
          </div>

      </div>
  </div>
</section>


    
    
<!-- Team section -->
<section id="contact">
	<div class="row"> 
		<div class="col-md-offset-2 col-md-8 col-sm-12">  
		  <div class="section-title"> 
		   <h1 class="wow fadeInUp" data-wow-delay="0.3s" style="color: #337ab7">Our Team</h1> 
	   
		  </div>  
		</div> 
	   </div>
	<div class="container">
		<div class="grid">
			<ul id="hexGrid">
				<li class="hex">
					<div class="hexIn">
						<a class="hexLink" href="#">
							<div class='img abdo'></div>
						</a>
					</div>
				</li>
				<li class="hex">
					<div class="hexIn">
						<a class="hexLink" href="#">
							<div class='img loay'></div>
							</a>
					</div>
				</li>

				<li class="hex">
					<div class="hexIn">
						<a class="hexLink" href="#">
							<div class='img mariam'></div>
						</a>
					</div>
				</li>

				<li class="hex">
					<div class="hexIn">
						<a class="hexLink" href="#">
							<div class='img gendy'></div>
							
						</a>
					</div>
				</li>

				<li class="hex">
					<div class="hexIn">
						<a class="hexLink" href="#">
							<div class='img nabil'></div>
						</a>
					</div>
				</li>


			</ul>
		</div>
	</div>

</section>

<!-- footer section -->
<footer id="resume">
	<div class="container">
		<div class="row">
			<svg class="svgcolor-light" preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
			<div class="col-md-6 col-sm-6">
				<h2 class="title"><strong>Machine Learning</strong> Models</h2>
				<p>There are multiple machine learning algorithms used for sentiment analysis like Support Vector Machine (SVM), logistic regression and Naïve Bayes</p>
				<h4 class="tm-progress-label">logistic regression<small class="progress-percent-small">0.63</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;"></div>
				</div>
				<h4 class="tm-progress-label">SVM<small class="progress-percent-small">0.68</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
				</div>
				<h4 class="tm-progress-label">Naïve Bayes<small class="progress-percent-small">0.62</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"></div>
				</div>


			</div>

			<div class="col-md-6 col-sm-6">
				<h2 class="title"><strong>Deep Learning</strong> Models</h2>
				<p>There are multiple Deep learning learning algorithms used for sentiment analysis like Recurrent Neural Network (RNN), Convolutional Neural Network (CNN)and Long Short-Term Memory (LSTM)</p>
				<h4 class="tm-progress-label">CNN<small class="progress-percent-small">0.58</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%;"></div>
				</div>
				<h4 class="tm-progress-label">GRU<small class="progress-percent-small">0.65</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
				</div>
				<h4 class="tm-progress-label">LSTM<small class="progress-percent-small">0.65</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
				</div>
				<h4 class="tm-progress-label">BERT<small class="progress-percent-small">0.76</small></h4>
				<div class="progress tm-progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;"></div>
				</div>


			</div>
		</div>
	</div>

</footer>



<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- javscript js -->
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
<script src="{{ url_for('static',filename='js/vegas.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/smoothscroll.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>


</body>
</html>